.mtgCard-results {
  margin-left: 5%;
  margin-right: 5%;
}

.mtgCard-result-item{
  margin: 16px;
}

.mtgCard-results-text{
  margin-top: 15px;
  font-size: large;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.cc-mat-form-field{
  margin-bottom: 10px;
}



.cc-mat-divider{
  margin-bottom: 10px;
}

.cc-mat-tooltip {
  background-color:black !important;
}
