<div class="grid-container" *ngIf="loginService.isLogged">
  <mat-card class="cc-card mat-elevation-z8">
    <mat-card-header class="cc-card-header">
      <mat-card-title>
        My Decks
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="cc-tree" cdkDropList (cdkDropListDropped)="drop($event)">
        <!-- This is the tree node template for leaf nodes -->
        <!-- There is inline padding applied to this node using styles.
          This padding value depends on the mat-icon-button width. -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle cdkDrag [cdkDragData]="node">
          <a [routerLink]="['/deck/' + node.id]" class="cc-deck-link">{{node.name}}<span style="margin-left: 5px" *ngIf="node.colors">— {{node.colors}}</span></a>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon color="primary">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editDeck(node.id)">
              <mat-icon color="primary">edit</mat-icon>
              <span >Edit Deck</span>
            </button>
            <button mat-menu-item (click)="openDeleteDeckDialog(node.id)">
              <mat-icon color="primary">delete</mat-icon>
              <span>Delete Deck</span>
            </button>
          </mat-menu>
        </mat-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node; when: isFolder" matTreeNodePadding cdkDrag [cdkDragData]="node">
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-icon color="primary" aria-hidden="false" aria-label="Folder icon"
                      style="margin-right: 8px">{{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}</mat-icon>
            {{node.name}}
            <button mat-icon-button [matMenuTriggerFor]="folderMenu" aria-label="Menu Add Icon">
              <mat-icon color="primary">more_vert</mat-icon>
            </button>
            <mat-menu #folderMenu="matMenu">
              <button mat-menu-item (click)="openNewFolderDialog(node)">
                <mat-icon color="primary">create_new_folder</mat-icon>
                <span>New Folder</span>
              </button>
              <button mat-menu-item (click)="newDeck(node)">
                <mat-icon color="primary">note_add</mat-icon>
                <span>New Deck</span>
              </button>
              <button mat-menu-item aria-label="Delete Icon" [disabled]="node.level !== 1" (click)="openDeleteFolderDialog(node)">
                <mat-icon *ngIf="node.level === 1" color="primary">delete</mat-icon>
                <mat-icon *ngIf="node.level !== 1">delete</mat-icon>
                <span>Delete Folder</span>
              </button>
            </mat-menu>
          </div>
          <!-- There is inline padding applied to this div using styles.
              This padding value depends on the mat-icon-button width.  -->
          <div [class.cc-tree-invisible]="!treeControl.isExpanded(node)"
               role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-tree-node>
      </mat-tree>
      <div class="cc-loading" *ngIf="loadingContent">
        <mat-spinner color="primary" *ngIf="loadingContent"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</div>
