<div class="cc-recover-password">
  <form [formGroup]="recoverForm" (ngSubmit)="sendForm()">
    <div *ngIf="oldPassword">
      <mat-form-field appearance="outline" class="cc-mat-form-field-half">
        <mat-label>Old Password</mat-label>
        <label>
          <input matInput type="password" formControlName="oldPassword">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="cc-mat-form-field-half">
        <mat-label>New Password</mat-label>
        <label>
          <input matInput type="password" formControlName="password">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="cc-mat-form-field-half">
        <mat-label>Confirm Password</mat-label>
        <label>
          <input matInput type="password" formControlName="passwordConfirm">
        </label>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit" class="cc-submit-button">Change password</button>
    </div>
  </form>
</div>
