.cc-card-login {
  height: auto;
}

.cc-submit-button {
  margin-bottom: 16px;
}

.cc-login-forgot-password {
  margin-bottom: 16px;
  margin-top: 16px;
}

.cc-login-forgot-password-link {
  padding-top: 16px;
}
