img {
    max-height:80%;
}

h1 {
    margin-left: 10px;
}

.cc-fill-remaining-space {
    flex: 1 1 auto;
}
.icon {
    margin-right: 10px;
}

a {
  color: white;
  font-weight: bold;
}

a:hover {
  color: #69000c;
}

.cc-toolbar-buttons {
  margin-left: 1%;
}

.login-toolbar {
  display: flex;
  font-size: medium;
  margin-right: 1%;
}

.login-toolbar p {
  margin-bottom: 0 !important;
}


