/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;}

.grid-container {
  margin: 5%;
  height: auto;
}



/* ColorConfluence Cards */
.cc-card{
    float: left;
    position: relative;
    height: 400px;
    width: 100%;
    padding: 0 !important;
}

.mat-card-header {
    padding: 16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

.mat-card-header-text {
    margin: auto !important;
}

.mat-card-title {
    margin-bottom: 0 !important;
}
.cc-card-content {
    height: 70%;
    overflow-y: auto;
    margin-left: 16px;
    margin-right: 16px;

}
